*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.toggle{
    width: 80px;
    height: 40px;
    margin: auto;
}
#check{
    display: none;
}
.toggle_item{
width: 100%;
height: 100%;
/* background-color: #07d229; */
display: inline-block;
border-radius: 20px;
padding: 1.5px;
box-shadow: 0 0 3px #0003;
transition: .3s;
cursor: pointer;
background-color: #0001;
}
.circle{
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0 0 3px #000;
}
#check:checked + .toggle_item{
    background-color: #07d229;
}
#check:checked + .toggle_item .circle{
transform: translateX(40px);
}